
body{
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2020/03/18/16/25/coronavirus-4944680__480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}
.heading{
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF; 
}
#infected{
    background-color: #07DEB3;
}
#recovered{
    background-color: #57DE4E;
}
#deceased{
    background-color: #DE190B;
}
#critical{
    background-color:#DE9A26;
}
#active{
    background-color: bisque;
}
#fatality_rate{
    background-color: bisque;
}
